* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    color:navy;
    word-break: normal;
    border: none;
  }

html, body{
    background-color: mintcream;
    height: 100%;
}

header{
    background: lightgrey;
    /*border-style: solid;*/
    padding: 15px;
    border-width: 1px;
    border-color: black;
}

h2{margin-top: 50px;}

article {
    background-color: cornsilk;
    box-shadow: 0px 0px 5px darkorange;
    margin-top: 20px;
    width: 80%;
}

button, a, div {
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
  /*border: 2px solid black;*/
    box-sizing: border-box;
    text-align: center;
    font-size:16px;
    background-color: #4CAF50;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover, a:hover {
    background-color: #00bb00;
    border-radius: 20px;
    transition: 0.4s;
}

table {
    background-color: lightgray;
    margin-top: 15px;
    margin-bottom: 15px;
    border-collapse: collapse;
    outline: paleturquoise solid  5px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
}

td, th {
    border: 1px solid black;
    text-align: center;
    color:navy;
    width: 100px;
}
.short {
    width: 10px;
}

input {
    color:Black;
    background-color: linen;
    width: 100%;
    padding: 10px 5px;
  /*border: 2px solid black;*/
    box-sizing: border-box;
    text-align: center;
    font-size:16px;
}

iframe{
    margin: 20px;
    box-shadow: 0px 0px 5px paleturquoise;
}

@media only screen and (max-width:600px) {
/* For mobile phones: */
    nav, article, table, iframe {
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    header{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
    }
    div{
        margin-bottom: 5%;
    }    

}